<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.DAO.ReviewMapper">
    <resultMap id="reviewMap" type="Review">
        <id column="id" property="id" />
        <result property="body" column="body" />
        <association property="reply" column="reply_id" select="selectRevById"/>
        <association property="owner" column="user_id" select="selectUserName"/>
    </resultMap>
    <select id="showReviews" resultMap="reviewMap" parameterType="int">
        select id,body,reply_id,user_id from review where article_id=#{articleId}
    </select>

    <select id="selectRevById" resultType="Review" parameterType="int">
        SELECT id,body,reply_id FROM review WHERE id=#{reply_id};
    </select>

    <select id="selectUserName" resultType="User" parameterType="int">
        SELECT id,name FROM user WHERE id=#{user_id};
    </select>


</mapper>