<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DAO.UserMapper">
    <select id="selectAllUser" resultType="user">
        SELECT email,passwd,name FROM USER;
    </select>

    <insert id="addUser" parameterType="com.entity.User" useGeneratedKeys="true">
        INSERT INTO USER(PASSWD, ADMIN, EMAIL, NAME) VALUES (#{passwd},#{admin},#{email},#{name})
    </insert>
</mapper>